@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Zilla Slab', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.mt {
  margin-top: 51px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .mt {
    margin-top: 80px;
  }
}