.connect__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connect__heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 68px;
  color: rgba(17, 29, 59, 1);
}

@media (max-width: 986px) {
    .connect__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  
  @media (max-width: 767.98px) {
    .connect__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }