.contact__form__heading {
  font-size: 42px;
  font-weight: 700;
  line-height: 68px;
  color: rgba(17, 29, 59, 1);
  margin: 20px auto;
}

.form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__fields {
  /* background-color: red; */
  flex-basis: 45%;
}

.form__control label {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 16px;
  line-height: 17px;
  color: #505050;
}

input,
textarea,
.message__btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 15px;
  border: 1px solid #ced4da;
  font-family: "Fira Sans", sans-serif;
}

input,
textarea {
  border: 3px solid #ccc;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  color: #111d3b;
  outline: none;
  transition: all .5s ease-in-out;
  resize: none;
}

input:focus,
textarea:focus {
  border: 3px solid #accbf7;
}

.message__btn {
  cursor: pointer;
  background-color: #414CC4;
  cursor: pointer;
  color: white;
  border: 2px solid #414CC4;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
}

.message__btn:hover {
  background-color: transparent;
  color: #111d3b;
}

.form__image {
  flex-basis: 50%;
  text-align: right;
}


@media (max-width: 986px) {
    .form__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .form__fields {
        order: 2;
    }

    .form__image {
        text-align: center;
        order: 1;
      }
  }
  
  @media (max-width: 767.98px) {
    .form__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .form__fields {
        width: 350px;
      }

      .form__image {
        width: 250px;
        margin: auto;
      }
      .form__image img {
        width: 100%;

      }

  }
  